---
---

@import "{{ site.theme }}";

header { 
    width: 275px;
}

footer { 
    width: 275px;
    bottom: 30px;
}

#site-title:link {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

#site-title:visited {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

#site-title:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

#site-title:active {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

#site-logo {
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.navigation-bar {
    text-align: right;
}

p {
    text-align: justify;
}

.note-icon {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: 4px;
}
