<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">

    <!-- For MathJax -->
    {% if page.enable_math == "enable" %}
      <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a id="site-title" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
        <img id="site-logo" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p id="site-description">
          {{ site.description | default: site.github.project_tagline }}
        </p>

        <p class="view">
          <a href="{{ site.github.owner_url }}">
            Find me on GitHub<br>
            <small>{{ site.github.owner_url }}</small>
          </a>
        </p>

        <p class="view">
          <a href="{{ site.resume_link }}">Resume</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ site.linkedin_link }}">LinkedIn</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ site.google_scholar_link }}">Google Scholar</a><br>
        </p>

        <p class="view">
          <table class="emailtable">
            <tr class="emailtable">
              <td class="emailtable" rowspan="2" style="padding-right:6px;">Email</td>
              <td class="emailtable"><i>{{ site.email_one }}</i></td>
            </tr>
            <tr class="emailtable">
              <td class="emailtable"><i>{{ site.email_two }}</i></td>
            </tr>
          </table>
        </p>

        <p>
          <small>To all my loved ones, my friends, and Annie ♥</small><br>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
        </p>
      </header>
      <section>

      {{ content }}

      <p class="navigation-bar">
        <script type="text/javascript">
          function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
          }
        </script>
        <a href="javascript:topFunction();">Back to Top</a>
      </p>

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
