---
layout: main
---

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

<p class="navigation-bar">
  <a href="/blogs.html">Back to list of Blogs</a>
</p>

{{ content }}

<p class="navigation-bar">
  <a href="/blogs.html">Back to list of Blogs</a>
</p>

<script src="https://utteranc.es/client.js"
        repo="josehu07/josehu07.github.io"
        issue-term="pathname"
        label="Utterances🔮"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
